
/* hiro */
.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_bf_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;
    letter-spacing: 0.06em;
    text-align: center;    
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
}
.hero__title { 
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

}
.hero__button{
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 24px;
    border: none;
    
}
